---
layout: archive
title: "Portfolio (Click on hyperlinks to view the project)"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<div class="portfolio-grid">
  {% assign projects_per_row = 3 %}
  {% for post in site.portfolio %}
    {% if forloop.index0 % projects_per_row == 0 %}
      <div class="portfolio-row">
    {% endif %}

    <div class="post">
      <h1>{{ archive-single.html }}</h1>
      <div class="entry-content">
        {{ post.title }}
      </div>
    </div>

    {% if forloop.index0 % projects_per_row == projects_per_row - 1 or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>


<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

